h2 {
    color: antiquewhite;
    background-color: #f28482;
    width: 170px;
    height: 30px;
    border-radius: 45%;
    padding-left:4%;
    padding-top: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    margin-left: 20%;
    text-align: center;
}

h1 {
    padding: 2%;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

p {
    padding: 1%;
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
    background-image: url(/img/background.jpg.jpeg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: screen;
    text-align: center;
}

/* p {
    display: flexbox;
    flex: 1 200px; 
    flex-direction: row;
} */

#topTen, #education {
    padding: 1%;
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    padding-bottom: 10px; 
}

 #main {
    line-height: 1.5;
}

ol {
    list-style: numeric;
}

ol li {
    background-color: #e76f51;
    width:250px;
    color: #fefae0;
}

#fun {
    background-color: #f4a261;
    width: 250px;
    margin: 1%;
    color: aliceblue;
}

#hobby {
    background-color: #e9c46a;
    width: 500px;
    margin: 1%;
    color:#fefae0;
}

#education {
    background-color: #2a9d8f;
    width: 500px;
    margin: 1%;
    color: aliceblue;
}

#main {
    background-color: #264653;
    width: 500px;
    margin: 1%;
    color: aliceblue;
}